/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0ffe0; /* Fondo verde suave y brillante */
    color: #333;
}

/* Header Styling */
header {
    background-color: #5e6a74;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Login Icon Styling */
.login-icon {
    margin-left: auto;
}

.login-icon a {
    font-size: 24px;
}

/* Main Content Styling */
main {
    padding: 20px;
    text-align: center;
}

.intro p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/* Footer Styling */
footer {
    background-color: #5e6a74;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Slick Slider Customization */
.slick-dots li button:before {
    color: #ffcc00;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

/* Login Form Styling */
.login-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(145deg, #000000b3, #616161);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    animation: rotateBackground 10s linear infinite;
    background-size: 400% 400%;
}

@keyframes rotateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #33333375;
    color: #fafafaba;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.login-form button:hover {
    background-color: #444f59;
    transform: scale(1.05);
}



/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #444f59;
        position: absolute;
        top: 60px; /* Ajustamos la posición */
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 999; /* Añadimos un índice Z alto para asegurar que el menú desplegable esté encima de otros elementos */
    }
  
    nav ul.open {
        display: flex;
    }
  
    nav ul li {
        margin: 10px 0;
    }
  
    .login-icon {
        margin-left: 0;
    }
  
    .login-icon a {
        font-size: 24px;
    }
  
    .login-icon a:hover {
        transform: none;
    }
  
    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        z-index: 1000; /* Ajustamos el índice Z para asegurar que el icono esté encima del menú */
    }
  }
  /* Media Query para ocultar el icono en pantallas grandes */
  @media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
  }